
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">
    <img src="assets/logoImage.png" width="64" height="64" />
  </a>

  <span class="logo logo-left">Окна </span>
  <span class="logo logo-right"> 31</span>

  <div class="col-lg-2 hidden-sm hidden-xs">
    <br />
  </div>

  <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4 row">
    <h5>
      Звоните нам!<br />
      (4722)12-34-56<br />
      +7 960 123 45 67
    </h5>
  </div>



  <div class="col-lg-8 col-md-8 col-sm-6 col-xs-4 row">
    <h5>
      Наш адрес:<br />
      г. Белгород, ул. Какая-нибудь, зд. 56, оф. 504
    </h5>
  </div>

</nav>











