


  <app-navbar id="navbar"
              class="navbar navbar-dark bg-dark">
  </app-navbar>

  <nav id="topmenu" class="navbar navbar-expand-lg navbar-light center">
    <div class="col-lg-3 col-md-2 col-sm-hide col-xs-hide">
    </div>

    <a class="nav-link" routerLink="#">Пластиковые окна</a>
    <a class="nav-link" routerLink="#">Деревянные окна</a>
    <a class="nav-link" routerLink="#">Мебель лофт</a>
    <a class="nav-link" routerLink="#">Контакты</a>
    <a class="nav-link" routerLink="#">Информация</a>
  </nav>



  <div class="container-fluid">
    <div class="row" id="mainContent">
      <app-sidebar id="sideBar">
      </app-sidebar>
      <div class="col-sm-9 ml-sm-auto col-md-10 pt-3" id="dashboard">

               

      </div>
    </div>
  </div>
