#sidebar{
  height:100vh;
  padding-top: 80px;
  position: fixed;
  background-color: aliceblue;
}

#dashboard{
  margin-top: 60px;

}

#navbar{
  background-color: aliceblue;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2),0 1px 3px rgba(0,0,0,0.3);

}
